<app-nav></app-nav>

<div class="contenido">
    
    <h1>Pausas activas</h1>
    
    <div class="parte1">
        <div class="arriba">
            <div class="txt">
              <h2>¿Qué son?</h2>
              <p>
                Las pausas activas son breves descansos durante la jornada laboral o cualquier actividad que implique estar sentado 
                o en una posición estática durante un período prolongado. Estas pausas se realizan con el objetivo de mejorar la salud
                 física y mental, así como aumentar la productividad y reducir la fatiga en el trabajo o en cualquier situación que requiera concentración y sedentarismo.</p>
            </div>
            <div class="imagen">
              <img src="../../../assets/images/pasuasA.jpg" alt="">
            </div>
          </div>
    </div>

    <h1>Actividades comúnes en las pausas activas</h1>

    <div class="parte2">

        <div class="card">
          <h2>Estiramientos</h2>
         <img src="../../../assets/images/estramiento.jpg" alt="">
          <p> Realizar ejercicios de estiramiento para aliviar la tensión en los músculos y mejorar la flexibilidad.</p>
        </div>
  
        <div class="card">
          <h2>Respiración profunda</h2>
          <img src="../../../assets/images/respiracion.jpg" alt="">
          <p> Tomar unos minutos para hacer ejercicios de respiración profunda puede ayudar a relajarte y reducir el estrés.</p>
        </div>
  
        <div class="card">
          <h2>Caminar</h2>
         <img src="../../../assets/images/caminar.jpg" alt="">
          <p>Levantarse y dar un breve paseo alrededor de la oficina o el entorno de trabajo para estimular la circulación sanguínea.</p>
        </div>

        <div class="card">
            <h2>Ejercicios de movilidad</h2>
           <img src="../../../assets/images/movilidad.jpg" alt="">
            <p>Movimientos simples para mover las articulaciones y evitar la rigidez, como girar los hombros o mover los tobillos.</p>
        </div>

        <div class="card">
            <h2>Ejercicios de fuerza</h2>
           <img src="../../../assets/images/fuerza.jpg" alt="">
            <p>Realizar ejercicios de fortalecimiento muscular, como flexiones de brazos en la silla o levantamiento de piernas.</p>
          </div>
      </div>

      <h1>Ergonomía</h1>

      <div class="ultima">
        <p>La ergonomía es el estudio científico de la relación entre los seres humanos y su entorno laboral, diseñado para mejorar
             el bienestar y el rendimiento en el lugar de trabajo. Su objetivo principal es adaptar el entorno y las condiciones de 
             trabajo para que coincidan con las capacidades físicas y cognitivas de los trabajadores, con el fin de optimizar la eficiencia, la seguridad y la comodidad en el lugar de trabajo. <br><br>
             La ergonomía se centra en varios aspectos, incluyendo:</p>
            <ul>
                <li>Ergonomía física</li>
                <li>Ergonomía cognitiva</li>
                <li>Ergonomía organizacional</li>
              </ul>
              <img src="../../../assets/images/ergonomia.jpg" alt="">
      </div>
      

</div>


<app-footer></app-footer>